<form action="/posts/<%= @post.id %>" method="post">
  <h1>Current Name: <%= @post.name %></h1>
  <h1>Current Content: <%= @post.content %></h1>

  Name: <input id="name" type="text" name="name" value="<%= @post.name %>">
    <input type="text" ...>
</form>
